body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(to right, #6D79FD, #CCE6F5);
  }
  
  .heading {
    color: black;
  }  

  .heading .note {
    color: #93989c;
    padding-bottom: 0.5rem;
  }
  
  .Container {
    background-color: #ffffff;
    border: 1px solid #466DCA;
    box-shadow: 4px 4px 6px rgba(1, 1, 1, 0.2);
    width: 470px;
    border-radius: 1rem;
    padding: 2rem; 
    font-family: Arial, Helvetica, sans-serif;
  }

  .row {
    border: 2px;
    padding-top: 10px;
    padding-left: 45px;
    padding-right: 20px;
    margin: 1rem 0;
    text-align: left;
    font-size: small;
  }
  
  .row input {
    background-color: #ffffff;
    padding: 0.5rem;
    margin: 5px;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #d8d8d8;
    color: black;
    width: 350px;
    height: 40px;
  }
  
  .row input::placeholder {
    color: rgb(204, 204, 204);
    font-size: 1rem;
  }
  
  .checkbox {
    font-size: small;
    padding-left: 75px;
    padding-bottom: 40px;
    display: flex;
    color: #93989c;
  }

  .checkbox .forgot {
    color: #6375F0;
    font-weight: bolder;
    align-items: right;
    padding-left: 100px;
  }
  
  .btn1 {
    display: block;
    width: 360px;
    height: 60px;
    background-color: #6375F0;
    border: none;
    margin: auto;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 0.7rem;
    font-size: 16px;
    cursor: pointer;
  }

  .btn2 {
    display: block;
    width: 360px;
    height: 60px;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    margin: auto;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 0.7rem;
    font-size: 16px;
    cursor: pointer;
  }

  .noAcc {
    padding-top: 40px;
    text-align: center;
    color: #93989c;
    font-weight: bold;
  }

  .signup {
    color: #6375F0;
  }