@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "roboto";
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(182, 255, 251);
}

.container{
    width: 100%;
    max-width: 350px;
    background: #152331;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.screen{
    width: 100%;
}

.screen input{
    width: 100%;
    padding: 0.2rem 0.6rem;
    font-size: 1.8rem;
    text-align: right;
    margin: 1rem 0;
    font-weight: 600;
    border-radius: 2px;
    border: none;
}

.cal_btn{
    padding: 1rem;
}

ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li{
    font-size: 0.9rem;
    color: #fff;
    width: 20%;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0.4rem;
    background: #2c4650;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

ul li:active{
    transform: scale(1.2);
}

#equals{
    width: 100%;
    background: #2ecc71;
}